body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

header {
    text-align: center;
    background-color: greenyellow;
    padding: 5px;
    border-bottom: 2px solid black
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    margin: 30px;
    padding: 0 30px;
    background-color: rgb(227, 241, 199);
    border-radius: 5px;
    gap: 30px
}

.buttons * {
    flex: 1 1 100px;
    height: 60px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 0px 0px 5px black;
    background-color: lightgrey;
}

.buttons *:active {
    background-color:rgb(189, 188, 188);
}

#reset {
    background-color: tomato;
}

#reset:active {
    background-color: rgb(228, 89, 65);
}

.scores {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    font-size: 24px;
}

#result {
    margin: 100px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}